.uncover {
	overflow: hidden;
	background-image: none !important;
	position: relative;
}

.uncover__img {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: 50% 50%;
}

.uncover__slices {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
}

.uncover__slices--vertical {
	flex-direction: row;
}

.uncover__slices--horizontal {
	flex-direction: column;
}

.uncover__slices--horizontal-double {
	display: grid;
	grid-template-columns: 50% 50%;
}

.uncover__slices--vertical-double {
	display: grid;
	grid-template-rows: 50% 50%;
}

.uncover__slice {
	color: #fff;
	background-color: currentColor;
	flex: 1;
}

.uncover__slices--vertical .uncover__slice {
	box-shadow: 1px 0 0 currentColor;
}

.uncover__slices--horizontal .uncover__slice {
	box-shadow: 0 1px 0 currentColor;
}